.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* width: 600px; */
  margin: auto;

  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1 {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.info {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.questionText {
  font-size: large;
  font-style: italic;
  margin: 20px 0; 
}
.answers {
  margin-bottom: 20px;
  cursor: pointer;

}

.progressBar {
  width: 100%;
  background: #f3f3f3;; /*#f3f3f3*/
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.progressBar .inner {
  background: lightslategray; /* #6ad85c*/
  position: absolute;
  height: 100%;
  /* top: 0; */
  left: 0;
  transition: ease all 0.5s;
  border-radius: 4px;
}

.progressBar .text {
  font-size: small;
  font-weight: bold;
  /* position: absolute; */
  z-index: 1;
  
}

/* mellanrummet efter svaren */
.answers {
  margin-bottom: 20px;
}

/* .answerStatus {
background-color: lavender;
} */
.answer.selected {
  background: gainsboro;
}
.answer.correct {
  background: lightgreen;
  font-weight: bold;
}
.answer.incorrect {
  background: lightcoral;
  font-weight: bold;
}



button {
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 0.7rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
}